.Map {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 64px 0;
}

.label-marker{
    margin-top: 0;
    margin-right: -120%;
    font-size: 20px !important;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
    color: rgb(204, 44, 44) !important;
}